In [2]:
import pandas as pd

First load in the data sets relevent to our problem

In [6]:
seeds_by_season = pd.read_csv("./MNCAATourneySeeds.csv")
seeds_by_season.head()

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

In [10]:
season_results = pd.read_csv("./MRegularSeasonCompactResults.csv")
season_results.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

Per the documentation, NumOT is the number of overtime periods in the game and WLoc is an indicator whether 'H' - home team won, 'A' - visiting team won, or 'N' if the game was played on a neutral court.

NumOT won't tell us much about the game other than the scores were close so it won't be included in our features. The calculation below is just out of curiosity.

In [40]:
NumOT_stats = season_results.groupby(['NumOT']).count()
NumOT_stats = NumOT_stats[['Season']].rename(columns={'Season':'Count'})
print('The probability of NumOT = 0 is', NumOT_stats.iloc[0].item()/NumOT_stats.sum(axis=0).item())

The probability of NumOT = 0 is 0.9621284755512943

We see below that the location being played has a nontrivial impact on the outcome of the game

In [97]:
WLoc_stats = season_results.groupby('WLoc')[['Season']].count().sort_values('WLoc').rename(columns={'Season':'Count'})
#print('The probability of WLoc = "H" is', WLoc_stats.where(WLoc_stats['WLoc'] == 'H'))
a_count = WLoc_stats.filter(like='A', axis=0).iloc[0].item()
h_count = WLoc_stats.filter(like='H', axis=0).iloc[0].item()
print('The probability of WLoc = "H" given a non neutral playing ground is', h_count/(a_count + h_count))

The probability of WLoc = "H" given a non neutral playing ground is 0.6604852686308492